/* Category Cards */
.category-card {
    position: relative;
    height: 605px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    padding: 20px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.category-card::before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.category-card:hover {
    transform: scale(1.05);
}

/* Category Content */
.category-content {
  z-index: 9;
    padding: 15px;
}

.category-content h3 {
    font-size: 20px;
    margin: 0;
}

.category-content p {
    font-size: 14px;
    margin: 5px 0;
}

/* Arrow Button */
.category-link {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: #F4F5F4;
    border-radius: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: color 0.3s;
    position: absolute;
}

.category-link:hover {
    color: #ffcc00;
}

/* Responsive */
@media (max-width: 768px) {
    .category-card {
        height: 250px;
    }
}


.start-shopping {
    margin: 0 15px;
    background-image: url("../images/banner-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
}

.content-box {
    padding: 30px;
    border-radius: 10px;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    margin: 10px 0;
}

.btn {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ddd;
}

.signup{
    margin: 0 15px;
    background-image: url("../images/Blog.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
}
.signup .cta-section .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.signup .cta-section .img-section-wrapper{
    width: 720px;
    height: 560px;
}

.signup .cta-section .img-section-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testemonial-card{
    border: 1px solid#E6E6E6;
    position: relative;
    padding: 20px;
}
.verified-customer-badge{
    padding: 5px;
    position: absolute;
    top: -15px;
    right: 30px;
    background-color: white;
    border: 1px solid#E6E6E6;
    border-radius: 30px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #111111;    
}
.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #111111; /* Black stars by default */
}

.rate:not(:checked) > label:before {
    content: '★ ';
}
