$primary_color: #0e4167;
$text_color: #4f4f4f;
$btn_color: #f5c233;

// font sizes
$font_text: 'Avenir Next LT Pro';

// Responsive Variables
$xsmall: 575px; // 576
$small: 767px; // 768
$medium: 991px; // 992
$large: 1199px; // 1200
$xlarge: 1200px;